*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    border: 1px solid black;
    width: 40vw;
    height: 50vh;
    margin: auto;
    position: relative;
    top: 100px;
    padding: 20px;
    box-shadow: 3px 3px 5px gray;
}
.p1{
    font-size: 100px;
    text-align: center;
}
.p2{
    font-size: 30px;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
.close{
    position: absolute;
    right: 5%;
    top: 5%;
    color: black;
}
.a2{
    position: absolute;
    text-decoration: none;
    color: black;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    background-color: #FFB300;
    padding: 15px 50px;
}
@media (min-width:300px) and (max-width:600px) {
    .container{
        width: 80vw;
        height: 80vh;
    }
}
@media (min-width:601px) and (max-width:1020px) {
    .container{
        width: 80vw;
        height: 60vh;
    }
}
@media (min-width:1021px) and (max-width:1024px) {
    .container{
        width: 40vw;
        height: 70vh;
    }
}

