html{
    scroll-behavior: smooth;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    height: auto;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}
.logo-img{
    width: 5vw;
    height: 100%
}
.logo-img img{
    height: 100%;
    width: 100%;
}

.navi nav{
    display: flex;
    flex-direction: row;
    gap: 5%;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 23px;
    font-weight: 500;
}
.header-icons{
    display: flex;
    flex-direction: row;
    gap: 15%;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
}
@media (min-width:300px) and (max-width:400px) {
    header{
    height: auto;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}
.logo-img{
    width: 10vw;
    height: 100%
}
.logo-img img{
    height: 100%;
    width: 100%;
}

.navi nav{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5%;
    justify-items: center;
}
nav a{
    font-size: 15px;
}
.header-icons{
    margin-top: 5%;
    gap:40%;
    font-size: 15px;
    justify-content: center;
}
}
@media (min-width:401px) and (max-width:576px) {
    header{
    height: auto;
    width: 98vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}
.logo-img{
    width: 10vw;
    height: 100%
}
.logo-img img{
    height: 100%;
    width: 100%;
}

.navi nav{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5%;
    justify-items: center;
}
nav a{
    font-size: 16px;
}
.header-icons{
    margin-top: 5%;
    gap:40%;
    font-size: 16px;
    justify-content: center;
}
}
@media (min-width:577px) and (max-width:768px) {
nav a{
    font-size: 18px;
}
.header-icons{
    font-size: 18px;
}
}
@media (min-width:769px) and (max-width:992px) {
nav a{
    font-size: 20px;
}
.header-icons{
    font-size: 20px;
}
}
@media (min-width:993px) and (max-width:1200px) {
nav a{
    font-size: 22px;
}
.header-icons{
    font-size: 22px;
}
}


.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 230px;
  top: 100%;
  left: 0;
  border-radius: 10px;
  z-index: 1000;
  flex-direction: column;
  animation: dropp 0.5s ease-in-out;
}

@keyframes dropp {
    from{
        transform: translateY(-100px);
    }
}

.dropdown-content a {  
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  color: black;
}
.dropdown.active .dropdown-content {
  display: flex;
  flex-direction: column;
}
.dropdown-content {
  display: none;
}

.dropdown-content.show {
  display: flex;
}
.droplist1{
    background-image: url('../Assets/Images/image\ 76.png');
    background-size: cover;
    border-radius: 8px 8px 0 0;
}
.droplist2{
    background-image: url('../Assets/Images/image\ 64.png');
    background-size: cover;
}
.droplist3{
    background-image: url('../Assets/Images/image\ 77.png');
    background-size: cover;
}
.droplist4{
    background-image: url('../Assets/Images/image\ 57.png');
    background-size: cover;
}
.droplist5{
    background-image: url('../Assets/Images/spo.jpeg');
    background-size: cover;
    border-radius: 0 0 8px 8px;
}
/* .dropdown-content a::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(206, 205, 205, 0.082);
  border-radius: 8px;
  z-index: 1001;
} */

.dropdown-content a*{
  color: black;
  position: relative;
  z-index: 1002;
}
@media (min-width:300px) and (max-width:400px) {
    .dropdown-content {
  display: none;
  position: absolute;
  min-width: 230px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 1000;
  flex-direction: column;
}

.dropdown-content a {  
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  color: black;
}
}
@media (min-width:401px) and (max-width:576px) {
    .dropdown-content {
  display: none;
  position: absolute;
  min-width: 230px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  z-index: 1000;
  flex-direction: column;
}

.dropdown-content a {  
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  color: black;
}
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section1-container{
    width: 90vw;
    margin: auto;
    position: relative;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 500;
}
.filter{
    background-color: #F3F4FF;
    padding: 10px 20px;
    border-radius: 10px;
}
@media (min-width:300px) and (max-width:400px) {
.filter{
    padding: 5px 10px;
}.section1-container{
    font-size: 13px;
}
}
@media (min-width:401px) and (max-width:576px) {
.filter{
    padding: 8px 12px;
}.section1-container{
    font-size: 16px;
}
}
@media (min-width:577px) and (max-width:768px) {
.filter{
    padding: 10px 15px;
}.section1-container{
    font-size: 18px;
}
}
@media (min-width:769px) and (max-width:992px) {
.filter{
    padding: 10px 15px;
}.section1-container{
    font-size: 20px;
}
}
@media (min-width:993px) and (max-width:1200px) {
.filter{
    padding: 10px 20px;
}.section1-container{
    font-size: 20px;
}
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section2-container{
    width: 90vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.col1-item{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
.c1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c1-1{
    font-size: 23px ;
    font-weight: 500;
}
.c1-2{
    font-size: 23px ;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 10px;
}
.c1-3 input{
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}
.col1-item:nth-child(1){
    padding: 60px;
}
.col1-item:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col1-item:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-4{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.c1-img1{
    margin-top: 5%;
    padding: 10px;
    height: 10vh;
    width: 6vw;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.c1-img1 img{
    height: 100%;
    width: 100%;
}
.c1-5{
    background-color: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.c1-6{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
}
.c1-7{
    margin-top: 5%;
    font-size: 12px;
}
.c1-7 span{
    color: red;
}
.c1-8{
    margin-top: 5%;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
/* -------------------------------- */
.col2-items{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.col1-images{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 3%;
}
.col1-image1,
.col1-image2{
    height: 30vh;
    width: 100%;
}
.col1-image2 img{
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.col1-image1 img,
.col1-image2 img{
    height: 100%;
    width: 100%;
}
.dots{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}
.col2-grids{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}
.col2-grids-items{
    background-color: rgba(220, 220, 220, 0.178);
    padding: 10px;
    margin-top: 3%;
    border: 2px solid gainsboro;
    border-radius: 10px;
}
.iconss{
    font-size: 20px;
    font-weight: 500;
}
.titless{
    font-size: 15px;
    font-weight: 500;
}
.desc{
    font-size: 15px;
    color: rgb(129, 127, 127);
}
.col2-items:nth-child(1){
    padding: 80px;
}
.col2-items:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col2-items:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-1,
.c2-2,
.c2-3{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 23px;
    font-weight: 500;
}
@media (min-width:300px) and (max-width:400px) {
    .section2-container{
    width: 90vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}
.col1-item{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
.c1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c1-1{
    font-size: 12px ;
    font-weight: 500;
}
.c1-2{
    font-size: 12px ;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 10px;
}
.c1-3 input{
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}
.col1-item:nth-child(1){
    padding: 60px;
}
.col1-item:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col1-item:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-4{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.c1-img1{
    margin-top: 5%;
    padding: 10px;
    height: 10vh;
    width: 12vw;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.c1-img1 img{
    height: 100%;
    width: 100%;
}
.c1-5{
    background-color: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.c1-6{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    font-size: 12px;
}
.c1-7{
    margin-top: 5%;
    font-size: 12px;
}
.c1-7 span{
    color: red;
}
.c1-8{
    margin-top: 5%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
/* -------------------------------- */
.col2-items{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.col1-images{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 3%;
}
.col1-image1,
.col1-image2{
    height: 30vh;
    width: 100%;
}
.col1-image2 img{
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.col1-image1 img,
.col1-image2 img{
    height: 100%;
    width: 100%;
}
.dots{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}
.col2-grids{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}
.col2-grids-items{
    background-color: rgba(220, 220, 220, 0.178);
    padding: 5px;
    margin-top: 3%;
    border: 2px solid gainsboro;
    border-radius: 10px;
}
.iconss{
    font-size: 10px;
    font-weight: 500;
}
.titless{
    font-size: 8px;
    font-weight: 500;
}
.desc{
    font-size: 10px;
    color: rgb(129, 127, 127);
}
.col2-items:nth-child(1){
    padding: 80px;
}
.col2-items:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col2-items:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-1,
.c2-2,
.c2-3{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}

}
@media (min-width:401px) and (max-width:576px) {
    .section2-container{
    width: 90vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}
.col1-item{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
.c1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c1-1{
    font-size: 12px ;
    font-weight: 500;
}
.c1-2{
    font-size: 12px ;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 10px;
}
.c1-3 input{
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}
.col1-item:nth-child(1){
    padding: 60px;
}
.col1-item:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col1-item:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-4{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.c1-img1{
    margin-top: 5%;
    padding: 10px;
    height: 10vh;
    width: 12vw;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.c1-img1 img{
    height: 100%;
    width: 100%;
}
.c1-5{
    background-color: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.c1-6{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    font-size: 12px;
}
.c1-7{
    margin-top: 5%;
    font-size: 12px;
}
.c1-7 span{
    color: red;
}
.c1-8{
    margin-top: 5%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
/* -------------------------------- */
.col2-items{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.col1-images{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 3%;
}
.col1-image1,
.col1-image2{
    height: 30vh;
    width: 100%;
}
.col1-image2 img{
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.col1-image1 img,
.col1-image2 img{
    height: 100%;
    width: 100%;
}
.dots{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}
.col2-grids{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}
.col2-grids-items{
    background-color: rgba(220, 220, 220, 0.178);
    padding: 5px;
    margin-top: 3%;
    border: 2px solid gainsboro;
    border-radius: 10px;
}
.iconss{
    font-size: 10px;
    font-weight: 500;
}
.titless{
    font-size: 8px;
    font-weight: 500;
}
.desc{
    font-size: 10px;
    color: rgb(129, 127, 127);
}
.col2-items:nth-child(1){
    padding: 80px;
}
.col2-items:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col2-items:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-1,
.c2-2,
.c2-3{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}
}
@media (min-width:577px) and (max-width:768px) {
    .section2-container{
    width: 90vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.col1-item{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
.c1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c1-1{
    font-size: 12px ;
    font-weight: 500;
}
.c1-2{
    font-size: 12px ;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 10px;
}
.c1-3 input{
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}
.col1-item:nth-child(1){
    padding: 60px;
}
.col1-item:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col1-item:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-4{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.c1-img1{
    margin-top: 5%;
    padding: 10px;
    height: 10vh;
    width: 5vw;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.c1-img1 img{
    height: 100%;
    width: 100%;
}
.c1-5{
    background-color: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.c1-6{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    font-size: 12px;
}
.c1-7{
    margin-top: 5%;
    font-size: 12px;
}
.c1-7 span{
    color: red;
}
.c1-8{
    margin-top: 5%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
/* -------------------------------- */
.col2-items{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.col1-images{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 3%;
}
.col1-image1,
.col1-image2{
    height: 30vh;
    width: 100%;
}
.col1-image2 img{
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.col1-image1 img,
.col1-image2 img{
    height: 100%;
    width: 100%;
}
.dots{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}
.col2-grids{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}
.col2-grids-items{
    background-color: rgba(220, 220, 220, 0.178);
    padding: 5px;
    margin-top: 3%;
    border: 2px solid gainsboro;
    border-radius: 10px;
}
.iconss{
    font-size: 10px;
    font-weight: 500;
}
.titless{
    font-size: 8px;
    font-weight: 500;
}
.desc{
    font-size: 10px;
    color: rgb(129, 127, 127);
}
.col2-items:nth-child(1){
    padding: 80px;
}
.col2-items:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col2-items:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-1,
.c2-2,
.c2-3{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}

}
@media (min-width:769px) and (max-width:992px) {
    .section2-container{
    width: 90vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.col1-item{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
.c1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c1-1{
    font-size: 12px ;
    font-weight: 500;
}
.c1-2{
    font-size: 12px ;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 10px;
}
.c1-3 input{
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}
.col1-item:nth-child(1){
    padding: 60px;
}
.col1-item:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col1-item:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-4{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.c1-img1{
    margin-top: 5%;
    padding: 10px;
    height: 10vh;
    width: 5vw;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.c1-img1 img{
    height: 100%;
    width: 100%;
}
.c1-5{
    background-color: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.c1-6{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    font-size: 12px;
}
.c1-7{
    margin-top: 5%;
    font-size: 12px;
}
.c1-7 span{
    color: red;
}
.c1-8{
    margin-top: 5%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
/* -------------------------------- */
.col2-items{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.col1-images{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 3%;
}
.col1-image1,
.col1-image2{
    height: 30vh;
    width: 100%;
}
.col1-image2 img{
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.col1-image1 img,
.col1-image2 img{
    height: 100%;
    width: 100%;
}
.dots{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}
.col2-grids{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}
.col2-grids-items{
    background-color: rgba(220, 220, 220, 0.178);
    padding: 5px;
    margin-top: 3%;
    border: 2px solid gainsboro;
    border-radius: 10px;
}
.iconss{
    font-size: 10px;
    font-weight: 500;
}
.titless{
    font-size: 8px;
    font-weight: 500;
}
.desc{
    font-size: 10px;
    color: rgb(129, 127, 127);
}
.col2-items:nth-child(1){
    padding: 80px;
}
.col2-items:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col2-items:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-1,
.c2-2,
.c2-3{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
}
}
@media (min-width:993px) and (max-width:1200px) {
    .section2-container{
    width: 90vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.col1-item{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}
.c1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.c1-1{
    font-size: 20px ;
    font-weight: 500;
}
.c1-2{
    font-size: 15px ;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px 10px;
    border-radius: 10px;
}
.c1-3 input{
    width: 100%;
    margin-top: 5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}
.col1-item:nth-child(1){
    padding: 60px;
}
.col1-item:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col1-item:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-4{
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.c1-img1{
    margin-top: 5%;
    padding: 10px;
    height: 10vh;
    width: 5vw;
    background-color: white;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.c1-img1 img{
    height: 100%;
    width: 100%;
}
.c1-5{
    background-color: white;
    margin-top: 5%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.c1-6{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    font-size: 12px;
}
.c1-7{
    margin-top: 5%;
    font-size: 12px;
}
.c1-7 span{
    color: red;
}
.c1-8{
    margin-top: 5%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
/* -------------------------------- */
.col2-items{
    padding: 30px;
    background-color: #F3F4FF;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
}

.col1-images{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 3%;
}
.col1-image1,
.col1-image2{
    height: 30vh;
    width: 100%;
}
.col1-image2 img{
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.col1-image1 img,
.col1-image2 img{
    height: 100%;
    width: 100%;
}
.dots{
    display: flex;
    flex-direction: row;
    gap: 3%;
    justify-content: center;
}
.col2-grids{
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
}
.col2-grids-items{
    background-color: rgba(220, 220, 220, 0.178);
    padding: 5px;
    margin-top: 3%;
    border: 2px solid gainsboro;
    border-radius: 10px;
}
.iconss{
    font-size: 15px;
    font-weight: 500;
}
.titless{
    font-size: 12px;
    font-weight: 500;
}
.desc{
    font-size: 10px;
    color: rgb(129, 127, 127);
}
.col2-items:nth-child(1){
    padding: 80px;
}
.col2-items:nth-child(2){
    position: relative;
    top: -5%;
    padding: 60px;
}
.col2-items:nth-child(3){
    position: relative;
    top: -10%;
}
.c2-1,
.c2-2,
.c2-3{
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer{
    background-color: #F3F4FF;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 10%;
    padding: 2%;
}
.foot-row1{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    gap: 3%;
}
.foot-head{
    border-bottom: 1px solid gray;
}
.foot-body{
    margin-top: 10px;
}
.foot-row2{
    font-size: 20px;
    color: gray;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.hr{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.downlogo{
    width: 100%;
    height: 30vh;
}
.downlogo img{
    height: 100%;
    width: 100%;
}
.social-media-icons{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 20px;
    margin-top: 3%;
}

@media (min-width:300px) and (max-width:400px) {
footer{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
}
.foot-row1{
    display: flex;
    flex-direction: column;
    gap: 3%;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.foot-head{
    border-bottom: 1px solid gray;
}
.foot-body{
    margin-top: 10px;
}
.social-media-icons{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 20px;
    margin-top: 3%;
}
.foot-row2{
    font-size: 20px;
    color: gray;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.hr{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.downlogo{
    width: 100%;
    height: 30vh;
}
.downlogo img{
    height: 100%;
    width: 100%;
}
}
@media (min-width:401px) and (max-width:576px) {
footer{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 30%;
}
.foot-row1{
    display: flex;
    flex-direction: column;
    gap: 3%;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.foot-head{
    border-bottom: 1px solid gray;
}
.foot-body{
    margin-top: 10px;
}
.social-media-icons{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 20px;
    margin-top: 3%;
}
.foot-row2{
    font-size: 20px;
    color: gray;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.hr{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.downlogo{
    width: 100%;
    height: 30vh;
}
.downlogo img{
    height: 100%;
    width: 100%;
}
}
@media (min-width:577px) and (max-width:768px) {
    footer{
    background-color: #F3F4FF;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 10%;
    padding: 2%;
    font-size: 12px;
}
.foot-row1{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    gap: 3%;
}
.foot-head{
    border-bottom: 1px solid gray;
}
.foot-body{
    margin-top: 10px;
}
.foot-row2{
    font-size: 15px;
    color: gray;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.hr{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.downlogo{
    width: 100%;
    height: 30vh;
}
.downlogo img{
    height: 100%;
    width: 100%;
}
.social-media-icons{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 12px;
    margin-top: 3%;
}
}
@media (min-width:769px) and (max-width:992px) {
    footer{
    background-color: #F3F4FF;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    padding: 2%;
    font-size: 14px;
}
.foot-row1{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    gap: 3%;
}
.foot-head{
    border-bottom: 1px solid gray;
}
.foot-body{
    margin-top: 10px;
}
.foot-row2{
    font-size: 15px;
    color: gray;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.hr{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.downlogo{
    width: 100%;
    height: 30vh;
}
.downlogo img{
    height: 100%;
    width: 100%;
}
.social-media-icons{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 12px;
    margin-top: 3%;
}
}
@media (min-width:992px) and (max-width:1200px) {
    footer{
    background-color: #F3F4FF;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    padding: 2%;
    font-size: 14px;
}
.foot-row1{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    gap: 3%;
}
.foot-head{
    border-bottom: 1px solid gray;
}
.foot-body{
    margin-top: 10px;
}
.foot-row2{
    font-size: 15px;
    color: gray;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.hr{
    display: flex;
    flex-direction: column;
    justify-content:center ;
}
.downlogo{
    width: 100%;
    height: 30vh;
}
.downlogo img{
    height: 100%;
    width: 100%;
}
.social-media-icons{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 12px;
    margin-top: 3%;
}
}