html {
    scroll-behavior: smooth;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: auto;
    align-items: center;
    justify-items: center;
    box-shadow: 0 3px 5px gray;
}

.logo-img {
    width: 100%;
    aspect-ratio: 5 / 2;
}

.logo-img img {
    height: 100%;
    width: 100%;
}

.header-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 23px;
    justify-items: center;
}

.header-links a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.header-links a:hover {
    color: rgb(97, 197, 176);
    text-decoration: underline;
}

.header-col3 {
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 25px;
    align-content: center;
    align-items: center;
}

.login-btn {
    background-color: #07435C;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
}

.login-btn:hover {
    cursor: pointer;
    background-color: #0e87bb;
}

@media (min-width:300px) and (max-width:400px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .logo-img {
        width: 50%;
        aspect-ratio: 4 / 2;
    }

    .header-links {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 15px;
        justify-items: center;
    }

    .header-links a {
        margin-top: 5%;
    }

    .header-col3 {
        font-size: 15px;
    }

    .login-btn {
        background-color: #07435C;
        color: white;
        font-weight: 500;
        padding: 5px 30px;
        border-radius: 5px;
        margin-top: 5%;
    }
}

@media (min-width:401px) and (max-width:576px) {
    header {
        display: grid;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .logo-img {
        width: 50%;
        aspect-ratio: 4 / 2;
    }

    .header-links {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 20px;
        justify-items: center;
    }

    .header-links a {
        margin-top: 5%;
    }

    .header-col3 {
        font-size: 20px;
    }

    .login-btn {
        background-color: #07435C;
        color: white;
        font-weight: 500;
        padding: 5px 30px;
        border-radius: 5px;
        margin-top: 5%;
    }
}

@media (min-width:577px) and (max-width:768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        padding: 20px;
    }

    .logo-img {
        width: 100%;
        aspect-ratio: 4 / 3;
    }

    .header-links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 15px;
        justify-items: center;
    }

    .header-links a {
        margin-top: 5%;
    }

    .header-col3 {
        font-size: 15px;
    }

    .login-btn {
        background-color: #07435C;
        color: white;
        font-weight: 500;
        padding: 5px 10px;
        border-radius: 5px;
        margin-top: 5%;
    }
}

@media (min-width:769px) and (max-width:992px) {
    header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        padding: 20px;
    }

    .logo-img {
        width: 100%;
        aspect-ratio: 4 / 2;
    }

    .header-links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 18px;
        justify-items: center;
    }

    .header-links a {
        margin-top: 5%;
    }

    .header-col3 {
        font-size: 18px;
    }

    .login-btn {
        background-color: #07435C;
        color: white;
        font-weight: 500;
        padding: 5px 20px;
        border-radius: 5px;
        margin-top: 5%;
    }
}


@media (min-width:993px) and (max-width:1200px) {
    header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        padding: 20px;
    }

    .logo-img {
        width: 100%;
        aspect-ratio: 4 / 2;
    }

    .header-links {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        font-size: 23px;
        justify-items: center;
    }

    .header-links a {
        margin-top: 5%;
    }

    .header-col3 {
        font-size: 23px;
    }

    .login-btn {
        background-color: #07435C;
        color: white;
        font-weight: 500;
        padding: 5px 20px;
        border-radius: 5px;
        margin-top: 5%;
    }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.container {
    width: 90vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0 4px 20px black;
}

.image-section {
    width: 100%;
    aspect-ratio: 4 / 4;
}

.image-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    border: 20px solid #022d40;
    border-radius: 20px;
}

.form-section {
    padding: 40px;
    width: 100%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tabs button {
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    background: #07435C;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.tabs button.active {
    background: #022d40;
}

.form-section input {
    width: 100%;
    padding: 25px;
    margin: 8px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.form-section button.submit-btn {
    width: 100%;
    padding: 20px;
    font-size: 23px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background: #07435C;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

.forgot {
    text-align: right;
    font-size: 15px;
    color: #07435C;
    cursor: pointer;
    margin-bottom: 10px;
}

@media (max-width: 400px) {
    .container {
        grid-template-columns: 1fr; 
        padding: 20px;
    }
    .image-section {
        aspect-ratio: auto;
        margin-bottom: 20px;
    }
    .form-section {
        padding: 20px;
    }
    .tabs button {
        font-size: 18px;
        padding: 8px 10px;
    }
    .form-section input {
        padding: 15px;
    }
    .form-section button.submit-btn {
        padding: 15px;
        font-size: 18px;
    }
}

@media (min-width: 401px) and (max-width: 576px) {
    .container {
        grid-template-columns: 1fr; 
        padding: 25px;
    }
    .image-section {
        aspect-ratio: auto;
        margin-bottom: 20px;
    }
    .tabs button {
        font-size: 20px;
        padding: 10px 15px;
    }
    .form-section input {
        padding: 20px;
    }
    .form-section button.submit-btn {
        padding: 18px;
        font-size: 20px;
    }
}


@media (min-width: 577px) and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        padding: 30px;
    }
    .image-section {
        aspect-ratio: 4 / 3;
        margin-bottom: 25px;
    }
    .tabs button {
        font-size: 22px;
        padding: 12px 15px;
    }
    .form-section input {
        padding: 22px;
    }
    .form-section button.submit-btn {
        padding: 20px;
        font-size: 22px;
    }
}


@media (min-width: 769px) and (max-width: 992px) {
    .container {
        grid-template-columns: 1fr 1fr; 
        gap: 4%;
        padding: 30px;
    }
    .image-section {
        aspect-ratio: 4 / 4;
    }
    .tabs button {
        font-size: 23px;
        padding: 12px 20px;
    }
}


@media (min-width: 993px) and (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        padding: 30px;
    }
    .image-section {
        aspect-ratio: 4 / 4;
    }
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 3fr 2fr;
    gap: 1%;
    padding: 30px;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 3vw;
    height: 8vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 3;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
@media (min-width:300px) and (max-width:400px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 10vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 2;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 5%;
}
}

@media (min-width:401px) and (max-width:576px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 10vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 2;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 5%;
}
}
@media (min-width:577px) and (max-width:768px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 5vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 2;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-bottom: 5%;
}
}
@media (min-width:769px) and (max-width:992px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 5vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 4;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 5%;
}
}

@media (min-width:993px) and (max-width:1200px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 5vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 4;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-bottom: 5%;
}
}