html{
    scroll-behavior: smooth;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
header{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: auto;
    align-items: center;
    justify-items: center;
    box-shadow: 0 3px 5px gray;
}
.logo-img{
    width: 100%;
    aspect-ratio: 5 / 2;
}
.logo-img img{
    height: 100%;
    width: 100%;
}
.header-links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: 23px;
    justify-items: center;
}
.header-links a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.header-links a:hover{
    color: rgb(97, 197, 176);
    text-decoration: underline;
}
.header-col3{
    display: flex;
    flex-direction: row;
    gap: 10%;
    font-size: 25px;
    align-content: center;
    align-items: center;
}
.login-btn{
    background-color: #07435C;
    color: white;
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 10px;
}
.login-btn:hover{
    cursor: pointer;
    background-color: #0e87bb;
}
@media (min-width:300px) and (max-width:400px) {
header{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
.logo-img{
    width: 50%;
    aspect-ratio: 4 / 2;
}
.header-links{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 15px;
    justify-items: center;
}
.header-links a{
    margin-top: 5%;
}

.header-col3{
    font-size: 15px;
}
.login-btn{
    background-color: #07435C;
    color: white;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 5%;
}
}
@media (min-width:401px) and (max-width:576px) {
header{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
.logo-img{
    width: 50%;
    aspect-ratio: 4 / 2;
}
.header-links{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 20px;
    justify-items: center;
}
.header-links a{
    margin-top: 5%;
}

.header-col3{
    font-size: 20px;
}
.login-btn{
    background-color: #07435C;
    color: white;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 5px;
    margin-top: 5%;
}
}
@media (min-width:577px) and (max-width:768px) {
header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 20px;
}
.logo-img{
    width: 100%;
    aspect-ratio: 4 / 3;
}
.header-links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: 15px;
    justify-items: center;
}
.header-links a{
    margin-top: 5%;
}

.header-col3{
    font-size: 15px;
}
.login-btn{
    background-color: #07435C;
    color: white;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 5%;
}
}

@media (min-width:769px) and (max-width:992px) {
header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 20px;
}
.logo-img{
    width: 100%;
    aspect-ratio: 4 / 2;
}
.header-links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: 18px;
    justify-items: center;
}
.header-links a{
    margin-top: 5%;
}

.header-col3{
    font-size: 18px;
}
.login-btn{
    background-color: #07435C;
    color: white;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 5%;
}
}


@media (min-width:993px) and (max-width:1200px) {
header{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 20px;
}
.logo-img{
    width: 100%;
    aspect-ratio: 4 / 2;
}
.header-links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    font-size: 23px;
    justify-items: center;
}
.header-links a{
    margin-top: 5%;
}

.header-col3{
    font-size: 23px;
}
.login-btn{
    background-color: #07435C;
    color: white;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 5%;
}
}
/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section-container{
    width: 95vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5%;
}
.sec1-col1{
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #07435C;
    color: #07435C;
}
.c1{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    color: #07435C;
}
.c2{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}
.c3{
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}
.paylogo{
    width: 5vw;
    aspect-ratio: 4 / 4;
    height: 9vh;
    border-radius: 50%;
}
.paylogo img{
    height: 100%;
    width: 100%;
}
.c2 i{
    cursor: pointer;
    font-size: 40px;
}
/* ------------------------- */
.sec1-col2{
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #07435C;
    color: #07435C;
    font-size: 23px;
}

.c5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}
.c6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    font-weight: bold;
}
.c7{
    text-align: center;
    margin-top: 20%;
    background-color: #07435C;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

@media (min-width:300px) and (max-width:400px) {
    .section-container{
    width: 95vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}
.paylogo{
    width: 10vw;
    aspect-ratio: 4 / 4;
    height: 9vh;
    border-radius: 50%;
}
}

@media (min-width:401px) and (max-width:576px) {
    .section-container{
    width: 95vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}
.paylogo{
    width: 10vw;
    aspect-ratio: 4 / 4;
    height: 9vh;
    border-radius: 50%;
}
}
@media (min-width:577px) and (max-width:768px) {
    .section-container{
    width: 95vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 5%;
}
.paylogo{
    width: 10vw;
    aspect-ratio: 4 / 4;
    height: 9vh;
    border-radius: 50%;
}
}

@media (min-width:769px) and (max-width:992px) {
    .section-container{
    width: 95vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5%;
}
.paylogo{
    width: 8vw;
    aspect-ratio: 4 / 4;
    height: 9vh;
    border-radius: 50%;
}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 4fr 2fr 2fr 3fr 2fr;
    gap: 1%;
    padding: 30px;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 3vw;
    height: 8vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 3;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 23px;
}
@media (min-width:300px) and (max-width:400px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 25%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 10vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 2;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 5%;
}
}

@media (min-width:401px) and (max-width:576px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 25%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 10vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 2;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-bottom: 5%;
}
}
@media (min-width:577px) and (max-width:768px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 5vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 2;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-bottom: 5%;
}
}
@media (min-width:769px) and (max-width:992px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 5vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 4;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-bottom: 5%;
}
}

@media (min-width:993px) and (max-width:1200px) {
    footer{
    background-color: #07435C;
    width: 98vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1%;
    padding: 30px;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1{
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.foot-col1-row1{
    width: 100%;
    aspect-ratio: 4 / 0;
}
.foot-col1-row1 img{
    height: 100%;
    width: 100%;
}
.foot-col1-row2{
    display: flex;
    align-items: center;
    margin-left: 5%;
    flex-direction: row;
    gap: 2%;
}
.foot-col1-row2-1{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.foot-col1-row2-2{
    width: 5vw;
    height: 10vh;
}
.foot-col1-row2-2 img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: contain;
}
.foot-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col2 a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.foot-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col3 div{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.foot-col4{
    width: 100%;
    aspect-ratio: 4 / 4;
}
.foot-col4 img{
    height: 100%;
    width: 100%;
}
.foot-col5{
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.foot-col5 div{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-bottom: 5%;
}
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */
.confirm-overlay{
    border-radius: 20px;
    width: 35vw;
    position: fixed;
    border: 5px solid #07435C;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    z-index: 1000;
    padding: 30px;
    display: none;
}
.confirmover-1{
    width: 100%;
    aspect-ratio: 4 / 3;
}
.confirmover-1 img{
    height: 100%;
    width: 100%;
}
.confirmover-2{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #0e87bb;
    margin-top: 5%;
}
.links a{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
    text-decoration: none;
    color: deeppink;
    margin-bottom: 5%;
}