html{
    scroll-behavior: smooth;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}
.offer-nav{
    text-align: center;
    background-color: #16404D;
    color: white;
    padding: 20px;
    font-weight: 600;
    font-size: 15px;
}
.offer-nav span{
    text-decoration: underline;
}
@media (min-width:300px) and (max-width:400px) {
    .offer-nav{
    font-size: 8px;
}
}
@media (min-width:401px) and (max-width:576px) {
    .offer-nav{
    font-size: 10px;
}
}
@media (min-width:577px) and (max-width:768px) {
    .offer-nav{
    font-size: 13px;
}
}
@media (min-width:769px) and (max-width:992px) {
    .offer-nav{
    font-size: 15px;
}
}
@media (min-width:993px) and (max-width:1200px) {
    .offer-nav{
    font-size: 18px;
}
}
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.nav-bar{
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 70vw;
    height: 12vh;
    margin: auto;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;
    margin-top: 5%;
   
}
.nav-bar-col1{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3%;
    height: 100%;
    width: 90%;
    align-items: center;
    justify-items: center;
    background-color: #E0F2FF;
    border-radius: 20px;
}
.logo a{
    font-size: 40px;
    font-family: "Dokdo", system-ui;
}
.nav-lists{
    height: 100%;
    width: 100%;
   display: flex;
   flex-direction: row;
   gap: 5%;
   align-items: center;
   justify-items: center;
   justify-content: center;
}
.nav-lists a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 600;
}
.nav-bar-col2{
    height: 100%;
    width: 10%;
    align-items: center;
    justify-items: center;
    background-color: #E0F2FF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
@media (min-width:300px) and (max-width:400px) {
    .nav-bar{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 40vh;
    margin-top: 10%;
}
.nav-bar-col1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3%;
    height: 50vh;
    width: 95%;
}
.logo a{
    font-size: 30px;
}
.nav-lists{
    height: 100%;
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 5%;
}
.nav-lists a{
    font-size: 13px;
}
.nav-bar-col2{
    height: 30vh;
    width: 20%;
}
}
@media (min-width:401px) and (max-width:576px) {
        .nav-bar{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 40vh;
    margin-top: 10%;
}
.nav-bar-col1{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3%;
    height: 50vh;
    width: 95%;
}
.logo a{
    font-size: 30px;
}
.nav-lists{
    height: 100%;
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 5%;
}
.nav-lists a{
    font-size: 13px;
}
.nav-bar-col2{
    height: 30vh;
    width: 20%;
}
}
@media (min-width:577px) and (max-width:768px) {
    .nav-bar{
    width: 90vw;
    height: 12vh;
}
.logo a{
    font-size: 30px;
}
.nav-lists a{
    font-size: 20px;
}
}
@media (min-width:769px) and (max-width:992px) {
        .nav-bar{
    width: 80vw;
    height: 12vh;
}
.logo a{
    font-size: 35px;
}
.nav-lists a{
    font-size: 20px;
}
}
@media (min-width:993px) and (max-width:1200px) {
        .nav-bar{
    width: 70vw;
    height: 12vh;
}
.logo a{
    font-size: 40px;
}
.nav-lists a{
    font-size: 25px;
}
}
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.to-section1{
    height: 230vh;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
}
.tour-search{
    position: relative;
}
.searchinggg{
    position: absolute;
    top: 30%;
    left: 5%;
}
.tour-search input{
    height: 8vh;
    width: 100%;
    border: 2px solid #16404D;
    border-radius: 10px;
}
.tour-search input::placeholder{
    font-size: 20px;
    padding: 0 50px;
}
.active-fil{
    margin-top: 5%;
    font-size: 15px;
    font-weight: 500;
}
.dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #E0F2FF;
    height: 10vh;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5%;
}
.dropdown-list{
    margin-top: 3%;
    border-radius: 20px;

}
.listings{
    font-size: 20px;
    margin-top: 5%;
    border-bottom: 1px solid #16404D;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.listings:last-child {
    border: none;
}
.listings input{
    width: 6%;
    color: #16404D;
}
.dropdown-list {
    display: none;
}

.dropdown-list.show {
    display: block;
}
/* ----------------------------------------------- */
.to-section1-col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3%;
    height: 230vh;
    width: 100%;
}
.to-sec-col2-items{
    width: 100%;
    display: grid;
    grid-template-rows: 10fr 1fr 1fr 1fr 1fr;
    cursor: pointer;
    
}
.a1{
    height: 100%;
    width: 100%;
    position: relative;
}
.a1 img{
    height: 100%;
    width: 100%;
}
.a1-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 6vw;
    padding: 3px;
    border-radius: 20px;
}
.a1-dots{
    font-size: 5px;
    display: flex;
    flex-direction: row;
    color: gray;
}
.a2{
    font-size: 12px;
    padding: 5px;
}
.a2 i{
    font-size: 5px;
}
.a3{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.a4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.a4 span{
    font-size: 12px;
    font-weight: 400;
}
.a5{
    font-size: 12px;
    padding: 5px;
}
.a11-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 7vw;
    padding: 3px;
    border-radius: 20px;
}
.a111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 8vw;
    padding: 3px;
    border-radius: 20px;
}
.a1111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 10vw;
    padding: 3px;
    border-radius: 20px;
}
@media (min-width:300px) and (max-width:400px) {
    .to-section1{
    height: 100vh;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}
.tour-search{
    position: relative;
}
.searchinggg{
    position: absolute;
    top: 30%;
    left: 5%;
}
.tour-search input{
    height: 8vh;
    width: 100%;
    border: 2px solid #16404D;
    border-radius: 10px;
}
.tour-search input::placeholder{
    font-size: 20px;
    padding: 0 50px;
}
.active-fil{
    margin-top: 5%;
    font-size: 15px;
    font-weight: 500;
}
.dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #E0F2FF;
    height: 10vh;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5%;
}
.dropdown-list{
    margin-top: 3%;
    border-radius: 20px;

}
.listings{
    font-size: 20px;
    margin-top: 5%;
    border-bottom: 1px solid #16404D;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.listings:last-child {
    border: none;
}
.listings input{
    width: 6%;
    color: #16404D;
}
.dropdown-list {
    display: none;
}

.dropdown-list.show {
    display: block;
}
/* ----------------------------------------------- */
.to-section1-col2{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: relative;
}
.to-sec-col2-items{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: 10fr 1fr 1fr 1fr 1fr;
}
.a1{
    height: 100%;
    width: 100%;
    position: relative;
}
.a1 img{
    height: 100%;
    width: 100%;
}
.a1-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 30vw;
    padding: 3px;
    border-radius: 20px;
}
.a1-dots{
    font-size: 5px;
    display: flex;
    flex-direction: row;
    color: gray;
}
.a2{
    font-size: 12px;
    padding: 5px;
}
.a2 i{
    font-size: 5px;
}
.a3{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}
.a4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.a4 span{
    font-size: 12px;
    font-weight: 400;
}
.a5{
    font-size: 12px;
    padding: 5px;
}
.a11-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 30vw;
    padding: 3px;
    border-radius: 20px;
}
.a111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 40vw;
    padding: 3px;
    border-radius: 20px;
}
.a1111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 40vw;
    padding: 3px;
    border-radius: 20px;
}
}
@media (min-width:401px) and (max-width:576px) {
    .to-section1{
    height: 230vh;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5%;
}
/* ----------------------------------------------- */
.to-section1-col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3%;
    height: 230vh;
    width: 100%;
}
.to-sec-col2-items{
    width: 100%;
    display: grid;
    grid-template-rows: 10fr 1fr 1fr 1fr 1fr;
    height: 70vh;
}
.a1{
    height: 100%;
    width: 100%;
    position: relative;
}
.a1 img{
    height: 100%;
    width: 100%;
}
.a1-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 20vw;
    padding: 3px;
    border-radius: 20px;
}
.a1-dots{
    font-size: 5px;
    display: flex;
    flex-direction: row;
    color: gray;
}
.a2{
    font-size: 10px;
    padding: 5px;
}
.a2 i{
    font-size: 5px;
}
.a3{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
}
.a4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.a4 span{
    font-size: 8px;
    font-weight: 400;
}
.a5{
    font-size: 12px;
    padding: 5px;
}
.a11-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 25vw;
    padding: 3px;
    border-radius: 20px;
}
.a111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 30vw;
    padding: 3px;
    border-radius: 20px;
}
.a1111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 30vw;
    padding: 3px;
    border-radius: 20px;
}
}
@media (min-width:577px) and (max-width:768px) {
    .to-section1{
    height: 230vh;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
}
.tour-search{
    position: relative;
}
.searchinggg{
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 10px;
}
.tour-search input{
    height: 8vh;
    width: 100%;
    border: 2px solid #16404D;
    border-radius: 10px;
}
.tour-search input::placeholder{
    font-size: 8px;
    padding: 0 20px;
}
.active-fil{
    margin-top: 5%;
    font-size: 10px;
    font-weight: 500;
}
.dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #E0F2FF;
    height: 10vh;
    align-items: center;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5%;
}
.dropdown-list{
    margin-top: 3%;
    border-radius: 20px;

}
.listings{
    font-size: 12px;
    margin-top: 5%;
    border-bottom: 1px solid #16404D;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.listings:last-child {
    border: none;
}
.listings input{
    width: 6%;
    color: #16404D;
}
.dropdown-list {
    display: none;
}

.dropdown-list.show {
    display: block;
}
/* ----------------------------------------------- */
.to-section1-col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3%;
    height: 230vh;
    width: 100%;
}
.to-sec-col2-items{
    width: 100%;
    display: grid;
    grid-template-rows: 10fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
}
.a1{
    height: 100%;
    width: 100%;
    position: relative;
}
.a1 img{
    height: 100%;
    width: 100%;
}
.a1-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 18vw;
    padding: 3px;
    border-radius: 20px;
}
.a1-dots{
    font-size: 8px;
    display: flex;
    flex-direction: row;
    color: gray;
}
.a2{
    font-size: 10px;
    padding: 5px;
}
.a2 i{
    font-size: 3px;
}
.a3{
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}
.a4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.a4 span{
    font-size: 8px;
    font-weight: 400;
}
.a5{
    font-size: 10px;
    padding: 5px;
}
.a11-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 20vw;
    padding: 3px;
    border-radius: 20px;
}
.a111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 22vw;
    padding: 3px;
    border-radius: 20px;
}
.a1111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 23vw;
    padding: 3px;
    border-radius: 20px;
}
}
@media (min-width:769px) and (max-width:992px) {
    .to-section1{
    height: 230vh;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
}
.tour-search{
    position: relative;
}
.searchinggg{
    position: absolute;
    top: 30%;
    left: 5%;
}
.tour-search input{
    height: 8vh;
    width: 100%;
    border: 2px solid #16404D;
    border-radius: 10px;
}
.tour-search input::placeholder{
    font-size: 10px;
    padding: 0 40px;
}
.active-fil{
    margin-top: 5%;
    font-size: 10px;
    font-weight: 500;
}
.dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #E0F2FF;
    height: 10vh;
    align-items: center;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5%;
}
.dropdown-list{
    margin-top: 3%;
    border-radius: 20px;

}
.listings{
    font-size: 15px;
    margin-top: 5%;
    border-bottom: 1px solid #16404D;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.listings:last-child {
    border: none;
}
.listings input{
    width: 6%;
    color: #16404D;
}
.dropdown-list {
    display: none;
}

.dropdown-list.show {
    display: block;
}
/* ----------------------------------------------- */
.to-section1-col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3%;
    height: 230vh;
    width: 100%;
}
.to-sec-col2-items{
    width: 100%;
    display: grid;
    grid-template-rows: 10fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
}
.a1{
    height: 100%;
    width: 100%;
    position: relative;
}
.a1 img{
    height: 100%;
    width: 100%;
}
.a1-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 15vw;
    padding: 3px;
    border-radius: 20px;
}
.a1-dots{
    font-size: 8px;
    display: flex;
    flex-direction: row;
    color: gray;
}
.a2{
    font-size: 10px;
    padding: 5px;
}
.a2 i{
    font-size: 3px;
}
.a3{
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}
.a4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.a4 span{
    font-size: 12px;
    font-weight: 400;
}
.a5{
    font-size: 12px;
    padding: 5px;
}
.a11-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 18vw;
    padding: 3px;
    border-radius: 20px;
}
.a111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 18vw;
    padding: 3px;
    border-radius: 20px;
}
.a1111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 18vw;
    padding: 3px;
    border-radius: 20px;
}
}
@media (min-width:993px) and (max-width:1200px) {
    .to-section1{
    height: 230vh;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5%;
}
.tour-search{
    position: relative;
}
.searchinggg{
    position: absolute;
    top: 30%;
    left: 5%;
}
.tour-search input{
    height: 8vh;
    width: 100%;
    border: 2px solid #16404D;
    border-radius: 10px;
}
.tour-search input::placeholder{
    font-size: 13px;
    padding: 0 50px;
}
.active-fil{
    margin-top: 5%;
    font-size: 15px;
    font-weight: 500;
}
.dropdowns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #E0F2FF;
    height: 10vh;
    align-items: center;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 5%;
}
.dropdown-list{
    margin-top: 3%;
    border-radius: 20px;

}
.listings{
    font-size: 18px;
    margin-top: 5%;
    border-bottom: 1px solid #16404D;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.listings:last-child {
    border: none;
}
.listings input{
    width: 6%;
    color: #16404D;
}
.dropdown-list {
    display: none;
}

.dropdown-list.show {
    display: block;
}
/* ----------------------------------------------- */
.to-section1-col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3%;
    height: 100vh;
    width: 100%;
}
.to-sec-col2-items{
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-rows: 10fr 1fr 1fr 1fr 1fr;
}
.a1{
    height: 100%;
    width: 100%;
    position: relative;
}
.a1 img{
    height: 100%;
    width: 100%;
}
.a1-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 10vw;
    padding: 3px;
    border-radius: 20px;
}
.a1-dots{
    font-size: 8px;
    display: flex;
    flex-direction: row;
    color: gray;
}
.a2{
    font-size: 12px;
    padding: 5px;
}
.a2 i{
    font-size: 3px;
}
.a3{
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
}
.a4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid black;
}
.a4 span{
    font-size: 12px;
    font-weight: 400;
}
.a5{
    font-size: 12px;
    padding: 5px;
}
.a11-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 15vw;
    padding: 3px;
    border-radius: 20px;
}
.a111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 15vw;
    padding: 3px;
    border-radius: 20px;
}
.a1111-overlay{
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
    color: white;
    background-color: #16404D;
    gap: 5%;
    width: 15vw;
    padding: 3px;
    border-radius: 20px;
}
}
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section3{
    width: 85vw;
    height: 60vh;
    margin: auto;
    position: relative;
    margin-top: 20%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    gap: 5%;
}
.section-row1{
    display: flex;
    flex-direction: row;
    gap: 5%;
    font-size: 25px;
    align-items: center;
    margin-left: 5%;
    cursor: pointer;
    font-weight: 600;
}
.section3-row2{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1%;
    display: none;
    overflow: hidden;
}
.row-2-items{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.row-2-items img{
    height: 100%;
    width: 100%;
}
.section3-overlay{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    color: #16404D;
    font-size: 16px;
    font-weight: 600;
    background-color: #E0F2FF;
    padding: 2px 15px;
    border-radius: 20px;
    width: fit-content;
}
.section-row1 .active-btn{
    color: #16404D;
    text-decoration: underline;
}
@media (min-width:300px) and (max-width:400px) {
    .section3{
    width: 85vw;
    height: 250vh;
    margin-top: 580vh;
    grid-template-rows: 1fr auto;
    gap: 3%;
}
.section-row1{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 25px;
}
.section3-row2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1%;
    display: none;
    overflow: hidden;
}
.section3-overlay{
    top: 70%;
    text-align: center;
}
}
@media (min-width:401px) and (max-width:576px) {
    .section3{
    width: 85vw;
    height: 130vh;
    margin-top: 80vh;
    grid-template-rows: 1fr auto;
    gap: 3%;
}
.section-row1{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 25px;
}
.section3-row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    display: none;
    overflow: hidden;
}
.section3-overlay{
    top: 70%;
    text-align: center;
    font-size: 12px;
}
}
@media (min-width:577px) and (max-width:768px) {
    .section3{
    width: 85vw;
    height: 80vh;
    margin-top: 10%;
}
.section-row1{
    font-size: 20px;
}
.section3-row2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.section3-overlay{
    top: 75%;
    font-size: 13px;
    text-align: center;
}
}
@media (min-width:769px) and (max-width:992px) {
    .section3{
    width: 85vw;
    height: 100vh;
}
.section-row1{
    font-size: 25px;
}
.section3-row2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.section3-overlay{
    top: 75%;
    font-size: 13px;
}
}
@media (min-width:993px) and (max-width:1200px) {
    .section3{
    width: 85vw;
    margin-top: 25%;
}
    .section3-overlay{
    top: 80%;
    font-size: 12px;
    text-align: center;
}
}
/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.section11{
    height: 40vh;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 3%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
}
.section11-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10%;
}
.section11-icons{
    height: 12vh;
    width: 6vw;
}
.section11-icons img{
    height: 100%;
    width: 100%;
}
.section11-heading{
    font-size:25px;
    text-align: center;
    font-weight: bold;
    color: #16404D;
}
@media (min-width:300px) and (max-width:400px) {
    .section11{
    height: auto;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3%;
}
.section11-icons{
    height: 12vh;
    width: 20vw;
}
}
@media (min-width:401px) and (max-width:576px) {
    .section11{
    height: auto;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3%;
}
.section11-icons{
    height: 12vh;
    width: 20vw;
}
}
@media (min-width:577px) and (max-width:768px) {
    .section11{
    height: auto;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
}
.section11-icons{
    height: 12vh;
    width: 8vw;
}
.section11-heading{
    font-size:20px;
}
}
@media (min-width:769px) and (max-width:992px) {
    .section11{
    height: 40vh;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
}
.section11-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10%;
}
.section11-icons{
    height: 12vh;
    width: 6vw;
}
.section11-icons img{
    height: 100%;
    width: 100%;
}
.section11-heading{
    font-size:20px;
    text-align: center;
    font-weight: bold;
    color: #16404D;
}
}
@media (min-width:993px) and (max-width:1200px) {
    .section11{
    height: 40vh;
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top:10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3%;
}
.section11-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10%;
}
.section11-icons{
    height: 12vh;
    width: 6vw;
}
.section11-icons img{
    height: 100%;
    width: 100%;
}
.section11-heading{
    font-size:25px;
    text-align: center;
    font-weight: bold;
    color: #16404D;
}
}
 /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer{
    width: 98vw;
    height: 120vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Assests/Images/footer\ image.png');
}
.footer-container{
    height: 60vh;
    width: 85vw;
    margin: auto;
    position: relative;
    top: 40%;
    color: white;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}
.footer-col1{
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
}
.foot-col1-1 a{
    font-family: "Dokdo", system-ui;
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.foot-col1-2{
    font-size: 20px;
}
.footer-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 20px;
    font-weight: bold;
}
.footer-col2 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 20px;
    font-weight: bold;
}
.footer-col3 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.copyright{
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 15%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
@media (min-width:300px) and (max-width:400px) {
    footer{
    width: 98vw;
    height: 120vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Assests/Images/footer\ image.png');
    position: relative;
    margin-top: 40%;
}
.footer-container{
    height: auto;
    width: 85vw;
    margin: auto;
    position: relative;
    top: 20%;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
    justify-items: center;
    align-content: center;
}
.footer-col1{
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.foot-col1-1 a{
    font-family: "Dokdo", system-ui;
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.foot-col1-2{
    font-size: 20px;
}
.footer-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.footer-col2 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.footer-col3 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.copyright{
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top:60%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
}
@media (min-width:401px) and (max-width:576px) {
    footer{
    width: 98vw;
    height: 140vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Assests/Images/footer\ image.png');
    position: relative;
    margin-top: 30%;
}
.footer-container{
    height: auto;
    width: 85vw;
    margin: auto;
    position: relative;
    top: 20%;
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
    justify-items: center;
    align-content: center;
}
.footer-col1{
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}
.foot-col1-1 a{
    font-family: "Dokdo", system-ui;
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.foot-col1-2{
    font-size: 20px;
}
.footer-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.footer-col2 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.footer-col3 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.copyright{
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top:50%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
}
@media (min-width:577px) and (max-width:768px) {
    footer{
    width: 98vw;
    height: 100vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Assests/Images/footer\ image.png');
    position: relative;
    margin-top: 10%;
}
.footer-container{
    height: 60vh;
    width: 85vw;
    margin: auto;
    position: relative;
    top: 40%;
    color: white;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr;
}
.footer-col1{
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
}
.foot-col1-1 a{
    font-family: "Dokdo", system-ui;
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.foot-col1-2{
    font-size: 10px;
}
.footer-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 15px;
    font-weight: bold;
}
.footer-col2 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 15px;
    font-weight: bold;
}
.footer-col3 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.copyright{
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 15%;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
}
@media (min-width:769px) and (max-width:992px) {
    footer{
    width: 98vw;
    height: 120vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Assests/Images/footer\ image.png');
}
.footer-container{
    height: 60vh;
    width: 85vw;
    margin: auto;
    position: relative;
    top: 40%;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
}
.footer-col1{
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
}
.foot-col1-1 a{
    font-family: "Dokdo", system-ui;
    font-size: 35px;
    text-decoration: none;
    color: white;
}
.foot-col1-2{
    font-size: 15px;
}
.footer-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 15px;
    font-weight: bold;
}
.footer-col2 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 15px;
    font-weight: bold;
}
.footer-col3 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.copyright{
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 15%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
}
@media (min-width:993px) and (max-width:1200px) {
    footer{
    width: 98vw;
    height: 120vh;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../Assests/Images/footer\ image.png');
}
.footer-container{
    height: 60vh;
    width: 85vw;
    margin: auto;
    position: relative;
    top: 40%;
    color: white;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}
.footer-col1{
    display: flex;
    flex-direction: column;
    gap: 2%;
    align-items: center;
}
.foot-col1-1 a{
    font-family: "Dokdo", system-ui;
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.foot-col1-2{
    font-size: 20px;
}
.footer-col2{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 18px;
    font-weight: bold;
}
.footer-col2 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.footer-col3{
    display: flex;
    flex-direction: column;
    gap: 5%;
    font-size: 18px;
    font-weight: bold;
}
.footer-col3 a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.copyright{
    width: 85vw;
    margin: auto;
    position: relative;
    margin-top: 15%;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
}